---
import Container from '../commons/container.astro';
import { Image } from 'astro:assets';
import logoColor from "../../assets/logo-color.svg";
---

<nav class="w-full py-6 fixed top-0 z-10">
    <Container>
        <div class="absolute top-0 left-0">
        <Image src={logoColor} class="sm:w-[10rem] w-[40%]" alt="logo" />
    </div>
    </Container>
</nav>