---
import heroVideo from "../assets/hero-video.mp4";
import { Image } from "astro:assets";
import logo from "../assets/logo-white-claim.svg";
---

<main class='h-dvh w-screen relative' id='hero'>
   <video
      id='hero-video'
      class='w-full h-full absolute object-cover -z-2'
      autoplay
      loop
      muted
      playsinline
      preload='auto'
   >
      <source src={heroVideo} type='video/mp4' />
   </video>
   <div class='absolute w-full h-full -z-1 bg-text-secondary opacity-50'></div>
   <div class='flex flex-col items-center justify-center h-full w-full z-3'>
      <Image src={logo} class='w-full max-w-[80%] md:max-w-[65%] logo-default drop-shadow-lg' alt='logo' />
   </div>
</main>
