---
import heroVideo from "../assets/hero-video.mp4";
import { getLangFromUrl, getI18N } from "../i18n/utils";
import { Image } from "astro:assets";
import logo from "../assets/logo-white-claim.svg";

const lang = getLangFromUrl(Astro.url);
const t = getI18N(lang);
---

<main class='h-dvh w-screen relative'>
   <video class='w-full h-full absolute object-cover -z-2' autoplay loop muted>
      <source src={heroVideo} type='video/mp4' />
   </video>
   <div class='absolute w-full h-full -z-1 bg-text-secondary opacity-50'></div>
   <div class='flex flex-col items-center justify-center h-full w-full z-3'>
      <Image
               src={logo}
               class='w-full max-w-[80%] logo-default'
               alt='logo'
            />
   </div>
</main>
