---
import { Image } from 'astro:assets';
import bgSolutions from "../assets/bg-solutions.png";
---

<main class='h-[100dvh] w-[100vw] relative'>
    <Image src={bgSolutions} class="absolute w-full h-full object-cover" alt="bg-solutions" />
</main>