---
import { Image } from "astro:assets";
import backgroundImage from "../assets/lava-bg.png";
import logo from "../assets/logo-white.svg";
---

<main class='h-screen w-screen flex items-center justify-center'>
   <div
      class='relative flex flex-col items-center justify-center gap-xl w-[100%] md:w-[50%] h-full'
   >
      <Image src={logo} alt='Logo de Agencia Lava' class='w-full fill-white' />
      <div
         class='absolute bottom-[20%] md:bottom-[15%] flex flex-col gap-2 items-center'
      >
         <a href='mailto:hello@lavaugc.com' class='text-white text-3xl'>
            hello@lavaugc.com
         </a>
         <div class='h-2 w-full bg-gradient-to-r from-[#ff7542] to-[#8343bd]'>
         </div>
      </div>
   </div>

   <Image
      src={backgroundImage}
      alt='Fondo de volcán de lava'
      class='absolute top-0 left-0 w-full h-full object-cover object-center z-[-1]'
   />
</main>
