---
const { title, description } = Astro.props;
---

<div
   class='relative flex flex-col items-center justify-center rounded-4xl overflow-hidden'
   style='gap: clamp(1.5rem, 3vw, 2.5rem); padding: clamp(1.5rem, 4vw, 2.5rem);'
>
   <div class='absolute w-full h-full bg-foreground opacity-28'></div>
   <h3
      class='lh-1 font-bold leading-none text-center'
      style='font-size: clamp(1.75rem, 4vw, 3rem);'
   >
      {title}
   </h3>
   <p
      class='font-light leading-relaxed w-full text-center'
      style='font-size: clamp(0.875rem, 1.5vw, 1.125rem);'
   >
      {description}
   </p>
</div>
