---
// style import
import "@/styles/starwind.css";
import Navbar from "../components/navbar/navbar.astro";

interface Props {
   noindex?: boolean;
   showNav?: boolean;
}

const { noindex = false, showNav = true } = Astro.props;
---

<!doctype html>
<html lang='en'>
   <head>
      <meta charset='UTF-8' />
      <meta name='viewport' content='width=device-width' />
      <link rel='preconnect' href='https://fonts.googleapis.com' />
      <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
      <link
         href='https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'
         rel='stylesheet'
      />
      <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
      <meta name='generator' content={Astro.generator} />
      <meta
         name='description'
         content='LAVA is a global UGC and creator marketing agency helping brands grow through organic campaigns, scalable UGC production and strategic product seeding.'
      />
      <meta name='keywords' content='LAVA, UGC, Agencia, Marketing, RRSS' />
      {noindex && <meta name='robots' content='noindex, nofollow' />}
      <title>LAVA UGC Agency | Creator Campaigns & UGC Production</title>
   </head>
   <body>
      {showNav && <Navbar />}
      <slot />
   </body>

   <script>
      import Lenis from "lenis";

      const lenis = new Lenis({ lerp: 0.9 });

      function raf(time: number) {
         lenis.raf(time);
         requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
   </script>
   <script>
      import { animate, scroll } from "motion";

      const icons = document.querySelectorAll(".parallax-icon");

      icons.forEach((icon) => {
         const htmlIcon = icon as HTMLElement;

         const width = htmlIcon.offsetWidth;
         const baseSpeed = 70;
         const speed = baseSpeed / width;
         const distance = -150 * speed;

         scroll(
            animate(htmlIcon, {
               y: [0, distance],
            }),
            {
               target: htmlIcon,
               offset: ["start end", "end start"],
            }
         );
      });
   </script>
</html>

<style>
   html,
   body {
      margin: 0;
      width: 100%;
      height: 100%;
   }
</style>
